
.footer {
    background-color: var(--primary);
    color: #fff;
  }
  
  .manu-list {
    padding: 0;
    line-height: 30px;
  }
  .manu-list li {
    list-style: none;
    transition: 0.6s;
  }
  .manu-list li:hover {
    padding-left: 7px;
  }
  .manu-list li a {
    text-decoration: none;
    color: #fff;
  }
  
  